<!DOCTYPE html>
<html lang="ru">
	<%- include('/src/assets/ejs/head') %>

	<body>
		<%- include('/src/assets/ejs/header') %>
		<main>
			<%- include('/src/assets/ejs/navigation') %>
			<%-include('/src/assets/ejs/catalog') %>
		</main>
		<%- include('/src/assets/ejs/footer') %>
	</body>
</html>
